.project
.classpath
.factorypath
.editorConfig
.settings/
.idea
*.versionsBackup
*.iml
release.properties
settings.xml

maven-repo
target/

**/*.iml
**/.project
**/.classpath
**/.factorypath
**/.editorConfig
**/.settings/
**/.idea
**/*.versionsBackup
**/target/
**/maven-repo
